@model KnjigaAutorCRUD.Models.Izdavac

@{
    ViewData["Title"] = "Izmeni knjigu";
}
<h2>Izmeni izdavaca</h2>

<form asp-action="Izmeni" method="post">
    <div class="mb-3">
        <label class="form-label" for="Ime">Ime</label>
        <input type="text" asp-for="Ime" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">Izmeni</button>
</form>
